/* CSS Document */

/****************************************
             -- Defaults --
****************************************/

*{
	padding:0;
	margin: 0 auto;
}
html,body{
    background-color: #5859B2;
}
h1{
    margin: 15px 5px 5px 5px;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
    text-decoration: underline;
}
h2{
    margin: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
p{
    margin: 10px 10px 10px 10px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

/******************************************
        -- Fonts & Colour Scheme --
******************************************/

font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;

#5859B2
#BEE6B1
#FFB38D
#9798FF

/*******************************************
                -- Layout --
*******************************************/

.wrapper{
	margin-right: 200px;
    margin-left: 200px;
}
.masthead{
	
}
.main{
    display: block;
    margin: 0 auto;
    align-content: center;
    width: 450px;
    height: 500px;
    background-color: #9798FF;
    border: 5px solid white;
    border-radius: 10px;
}
.foot{
	
}

/*******************************************
            -- Form Styles --
*******************************************/

.formBox{
	
}
.buttons{
	
}
label{
    margin: 15px 15px 15px 15px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
label.maxPrice {
    margin-left: 30px;

}
#slider {
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin-right: 20px;
    padding-top: 10px;
}
input[type=text],
input[type=number],
input[type=date]{
	width: 200px;
    height: 25px;
    border-radius: 5px;
    margin: 10px 10px 10px 1px;
    font-size: 10pt;
}
input[type=text]{
    border: 2px solid #FFB38D;
    color: grey;
}
input[type=date]{
    border: 2px solid #BEE6B1;
    color: grey;
}
input[type=number]{
    border: 2px solid #BEE6B1;
    color: grey;
    
}
input[type=submit]{
    border: 3px solid white;
    color: #BEE6B1;
}
input[type=reset]{
    border: 3px solid white;
    color: #FFB38D;
}
#btnSubmit{
    margin: 15px 15px 15px 35px;
    background-color: #5859B2;
    width: 150px;
    height: 50px;
    text-decoration: underline;
    font-size: 14pt;
    border-radius: 15px;
}
#btnReset{
    margin: 15px 15px 15px 50px;
    background-color: #5859B2;
    width: 150px;
    height: 50px;
    text-decoration: underline;
    font-size: 14pt;
    border-radius: 15px;
}
.foot{
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 1px;
    background-color: #9798FF;
    border: 5px solid white;
}

/******************************************
            -- Media Queries -- 
******************************************/

@media all and (min-width: 500px){
    
    .formBox, .col{
        float:left;
        width:48%;
        margin: 1%;
    }
    
    .buttons{
        width:98%;  
        margin: 1%;
    }
    
     h1{
     font-size: 4em;   
    }
    
}

@media all and (min-width: 780px){
    
    .formBox{
        
        float:left;
        width:23%;
        margin: 1%;
    }

    .main
    {
     width: 95%;   
    }
    .buttons{
        width:50%;  
        margin-left: 25.5%; 
        
    }
    
    input{
     font-size:0.7rem;   
    }
    h1{
     font-size: 4em;   
    }
}
    
/*******************************************
            -- Image Styles --
*******************************************/

#departure {
    background-image: url(../img/city8.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    text-indent: 1.75rem;
    
}

#destination {
    background-image: url(../img/city8.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    text-indent: 1.75rem;
}

#departure_dt {
    background-image: url(../img/calendar70.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    text-indent: 1rem;
}

#return_dt {
    background-image: url(../img/calendar70.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    text-indent: 1rem;
}

#num_adults {
    background-image: url(../img/multiple25.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    text-indent: 1.75rem;
}

